<div class="bg-white">
  <div class="mx-auto px-4 py-6 sm:px-6 sm:py-12 lg:px-16">

    <div class="mt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-6 gap-y-10 xl:gap-x-8">

      <% 12.times do %>
        <div class="group relative">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <img src="https://a0.muscache.com/im/pictures/47b0c910-61c5-4577-9149-999ad14ae6d7.jpg?im_w=1200" alt="Property 1" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-2 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-900">
                <a href="#" class="font-medium">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Basic Tee
                </a>
              </h3>
              <p class="text-sm text-gray-500">Black</p>
              <p class="text-sm text-gray-500">Date</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$35</p>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
